<section class="about">
	<h2>關於TEDx</h2>
	<div class="row">
		<div class="small-10 medium-8 small-centered columns about-box">
			<div class="ted-logos" style="background-image: url('/assets/ted.png')"></div>
			<p>TED 是美國的非營利組織，致力於分享創新想法，其核心理念是「Ideas Worth Spreading」，透過 18 分鐘的演講方式，邀請各領域的人士分享他們的想法與故事。這些想法或從自身的專業而來，或從實踐的角度親身體驗世界，或透過科學與技術的發展來想像人與人之間的互動、人類社會的未來等。</p>
			<br>
			<a href="https://www.ted.com/" class="more">更多關於 TEDx</a>
		</div>
	</div>
	<div class="row">
		<div class="small-10 medium-8 small-centered columns about-box">
			<div class="ted-logos" style="background-image: url('/assets/tedx.png')"></div>
			<p>TED在2009年開放品牌授權（open licensing），讓全世界有心有能力的人用TED的模式和在其品牌準則下，經營一個TED大會。這個由會員自行策劃，TED官方認可的會議即為TEDx。</p>
			<br>
			<a href="https://www.ted.com/about/programs-initiatives/tedx-program" title=""  class="more">更多關於 TEDx Program</a>
		</div>
	</div>
	<div class="row">
		<div class="small-10 medium-8 small-centered columns about-box">
			<div class="ted-logos" style="background-image: url('/assets/TEDxNCHU.svg'); background-size: 220px; background-position: center 42px"></div>
			<p>TEDxNCHU成立於2015年1月,是由中興大學各領域的學生所組成,希望藉由分享平台的建立，讓更多的年輕學子一起參與分享的過程，不論是科技、環境、教育、社會、設計、娛樂...，只要有好的點子都有機會獲得分享的機會與激盪的空間。<br>我們以「璞」當作初衷，希望帶領中興人回歸到本質重新出發，挖掘中興最珍貴的特色與價值，並站在最遼闊的高端，觀看世界的脈動，成為具有國際觀與創新思維的優秀青年。</p>
			<br> 
		</div>
	</div>
</section>
<script> 
$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
});
</script>