<div class="contact">
	<div class="row">
		<div class="small-10 medium-8 large-6 small-centered columns">
			<div class="contact-box">
			<h2>聯絡我們</h2>
				<p>email：<a href="mailto:tedxnchu@gmail.com">tedxnchu@gmail.com</a></p>
				<p>地址：<a href="https://www.google.com.tw/maps/place/402%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8D%97%E5%8D%80%E5%9C%8B%E5%85%89%E8%B7%AF250%E8%99%9F%E5%9C%8B%E7%AB%8B%E4%B8%AD%E8%88%88%E5%A4%A7%E5%AD%B8/@24.121556,120.679,17z/data=!3m1!4b1!4m2!3m1!1s0x34693d1d68110173:0x228207f25b7d86cd">台中市南區國光路250號</a></p>
				<!-- <a href="" rel="open" class="contact-btn">連言給我們</a> -->
			</div>
		</div>
	</div>
</div>

<script>
$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
	$('.contact').css("height", function(){ 
	return $('body').height() - 142;
	});

});
</script>