<div class="contact">
	<div id="map">
	</div>
	<h2>聯絡我們</h2>
	<div class="row">
		<div class="small-10 medium-8 large-6 small-centered columns">
			<div>
				email：<a href="mailto:tough@fontech.com.tw">tough@fontech.com.tw</a>
				電話：<a href="tel:0911662343">0911662343</a>
				地址：<a href="">台北市和平東路oo號</a>
				<a href="" rel="open">連言給我們</a>
			</div>
		</div>
	</div>
</div>
<script> 
$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
});
</script>