<div class="slider">
	<div style="background-image: url('/assets/reborn.jpg')">
		<div class="slider-info"></div>
	</div>
	<div style="background-image: url('/assets/talk.jpg')">
		<div class="slider-info"></div>
	</div>
</div>
<section class="intro">
		<h1>璞</h1>
		<h2>2015 TEDxNCHU 年會</h2>
		<h3>回歸本質，重新綻放定位</h3>
	<div class="row">
		<p class="small-12 medium-10 large-10 small-centered columns">在資訊氾濫的時代，人們一昧追求虛榮卻脆弱的富麗，臺灣土地最初的純樸漸漸被世人鄙棄遺忘，然而在中興，那份純樸雖被遺忘卻還存在著，也許有人會說秉持純樸的精神將被世界淘汰，但我們深信，樸亦可為璞，未經雕琢的寶玉，未經雕琢象徵回到一切萬物的本質，寶玉象徵未被發掘的潛力。<br><br class="show-for-medium-up">	
	    TEDxNCHU將帶領中興從本質出發，挖掘最深的潛力與力量！</p>
	    <a href="#" class="small-8 medium-4 large-3 small-centered columns">報名年會</a>
	</div>
</section>


<section class="event-info-outter">
	<div class="event-info-inner">
		<div class="row">
			<div class="small-12 medium-9 large-8 medium-centered columns info-box">
				<h3>年會資訊</h3>
				<p class="event-field">日期：2015/06/06</p>
				<p class="event-field">時間：12:30 入場，13:00 開始</p>
				<p class="event-field">地點：<a href="">國立中興大學生命科學院演講廳</a></p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-9 large-8 medium-centered columns schedule-box">
				<h3>年會議程</h3>	
				<div class="event-field">
					<p class="schedule-time">12:30 ～ 13:00  進場</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">13:00 ～ 13:10  開場</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">13:10 ～ 13:25  開幕表演</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">13:25 ～ 14:30  Session 1</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">14:30 ～ 14:50  休息時間</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">14:50 ～ 15:55  開幕典禮</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">15:55 ～ 16:15  休息時間</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">16:15 ～ 16:35  表演</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">16:35 ～ 17:40  Session 3</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">17:40 ～ 17:50  閉幕</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">17:50 ～ 18:50  餐會交流</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="speakers">
	<h3>年會講者介紹</h3>	
	<div class="row">
	<h2 class="small-12 small-centered columns">本質</h2>
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns">
					<div class="speaker-thumbnail" style="background-image: url('/assets/speaker-1.jpg')"></div>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<h4 class="speaker-name">劉仲倫</h4>
					<h5>大開劇團團長</h5>
					<p class="speaker-des">現任大開劇團團長，以射去劇場的方式運作，吸引對戲劇有興趣的在地人，進行分享想法、培育人才的工作，讓劇場更普及化，引領出每個人的本質，讓演員與演員間的魅力互相撞擊，產生絢爛的火花。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns speaker-box">
					<div class="speaker-thumbnail" style="background-image: url('/assets/speaker-2.jpg')" ></div>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<h4 class="speaker-name">陳彥宏</h4>
					<h5>吉他手</h5>
					<p class="speaker-des">由於喜愛吉他開始了音樂的路程，除了自我學習，非音樂專門科目的他，更到中山大學的音樂系去學習樂理知識，獲奬無數更曾經被金曲奬提名最佳音樂專輯，被許多熱愛吉他的人稱為吉他上的一人樂隊。</p>
				</div>			
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns">
					<div class="speaker-thumbnail" style="background-image: url('/assets/speaker-3.jpg')"></div>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<h4 class="speaker-name">江心靜</h4>
					<h5>藍色空間創辦人</h5>
					<p class="speaker-des">江心靜（Pinky）為抱雲齋跟藍色空間的創辦人，身分為作家及藝術家。1998年與
好友林存青（Vicky）一起用單車花三了年的時間橫遍全球，並將這段歷程寫成「Vicky Pinky單車環球夢」一書。現今，心靜老師致力於水墨畫的研究，並和她的旅遊經歷結合，體悟了更多屬於她生命的本質。</p>
				</div>			
			</div>
		</div>
	</div>
	<div class="row">
	<h2 class="small-12 small-centered columns">思潮</h2>
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns">
					<div class="speaker-thumbnail" style="background-image: url('/assets/speaker-4.jpg')"></div>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<h4 class="speaker-name">張柏韋</h4>
					<h5>美感計畫創辦人</h5>	
					<p class="speaker-des">走在荷蘭的街頭，想起那平凡樸素的家鄉。歐洲的歷史不似中華文化悠遠，卻有著豐富的藝術氣息。是什麼樣的際遇能夠讓他為這學科至上的台灣教育環境展開獨樹一格的美感計劃?張柏韋與一群同好在大學期間籌辦美感計劃想要喚起社會對美學的重視，於是選擇從教育方面著手，改造教科書。</p>
				</div>			
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns">
					<div class="speaker-thumbnail" style="background-image: url('/assets/speaker-5.jpg')"></div>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<h4 class="speaker-name">蘇睿弼</h4>
					<h5>台中再生基地創辦人</h5>
					<p class="speaker-des">這是年會簡介，ri- 重新 –nascere 出生, 有重生的意味,文藝復興最重要的精神便 是人文主義,以人為本,專注於當下的自 我,期許人們有獨立思考的精神,鼓勵對習以為常的事物提出質疑與批判 。</p>
				</div>			
			</div>
		</div>
	</div>
	<div class="row">
	<h2 class="small-12 small-centered columns">突破</h2>
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns">
					<div class="speaker-thumbnail" style="background-image: url('/assets/speaker-6.jpg')"></div>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<h4 class="speaker-name">林經寰</h4>
					<h5>紙寮坑藝術農工廠創辦人</h5>
					<p class="speaker-des">這是年會簡介，ri- 重新 –nascere 出生, 有重生的意味,文藝復興最重要的精神便 是人文主義,以人為本,專注於當下的自 我,期許人們有獨立思考的精神,鼓勵對習以為常的事物提出質疑與批判 。</p>
				</div>			
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns">
					<div class="speaker-thumbnail" style="background-image: url('/assets/speaker-7.jpg')"></div>
				</div>
				<div class="small-12 medium-8 large-8 columns">
					<h4 class="speaker-name">徐振洋</h4>
					<h5>中興大學研究生</h5>
					<p class="speaker-des">一位患有地中海貧血的罕見疾病的患者，原以為這輩子就必須跟著這疾病牽絆一輩子還要保守排擠，無法完成很多事。但總有個感覺告訴他「我可以」！因此他突破自己先天的限制，終究完成了湧渡日月潭、救生員訓練及環島的夢想，也是中興第一屆興創農業金像獎冠軍得主。</p>
				</div>			
			</div>
		</div>
	</div>
</section>
<section class="image-fix show-for-medium-up">
	<div class="image-cover"></div>
</section>
<section class="go-now">
	<div class="row">
		<h2>現在就報名2015 TEDxNCHU年會！</h2>
		<a href="" class="small-8 medium-4 large-3 small-centered columns">報名年會</a>
	</div>
</section>

<script>
$(document).ready(function(){
    $('.slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 3000,
    });
});
</script>