<div class="slider">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
</div>
<section class="intro">
		<h1>璞</h1>
		<h2>2015 TEDxNCHU 年會</h2>
	<div class="row">
		<p class="small-12 medium-10 large-8 small-centered columns">在資訊氾濫的時代，人們一昧追求虛榮卻脆弱的富麗，臺灣土地最初的純樸漸漸被世人鄙棄遺忘，然而在中興，那份純樸雖被遺忘卻還存在著，也許有人會說秉持純樸的精神將被世界淘汰，但我們深信，樸亦可為璞，未經雕琢的寶玉，未經雕琢象徵回到一切萬物的本質，寶玉象徵未被發掘的潛力。<br><br>
	    因此我們以「璞」當作首次年會的主題，希望帶領中興人回歸到本質、重新出發，挖掘中興最珍貴的特色與價值，並站在最遼闊的高端，觀看世界的脈動，成為具有國際觀與創新思維的優秀青年。</p>
	    <a href="#" class="small-8 medium-4 large-2 small-centered columns">報名年會</a>
	</div>
</section>


<section>
	<div class="info-box">
		<h3>年會資訊</h3>
	</div>
	<div class="info-box">
		<h3>年會議程</h3>	
	</div>
</section>



<section class="speakers">
	<h3>年會講者介紹</h3>	
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns">
			<div class="speaker-thumbnail"></div>
			<h4 class="speaker-name">王大牛</h4>
			<p class="speaker-des">這是年會簡介，ri- 重新 –nascere 出生, 有重生的意味,文藝復興最重要的精神便 是人文主義,以人為本,專注於當下的自 我,期許人們有獨立思考的精神,鼓勵對習以為常的事物提出質疑與批判 。</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns">
			<div class="speaker-thumbnail"></div>
			<h4 class="speaker-name">王大牛</h4>
			<p class="speaker-des">這是年會簡介，ri- 重新 –nascere 出生, 有重生的意味,文藝復興最重要的精神便 是人文主義,以人為本,專注於當下的自 我,期許人們有獨立思考的精神,鼓勵對習以為常的事物提出質疑與批判 。</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns">
			<div class="speaker-thumbnail"></div>
			<h4 class="speaker-name">王大牛</h4>
			<p class="speaker-des">這是年會簡介，ri- 重新 –nascere 出生, 有重生的意味,文藝復興最重要的精神便 是人文主義,以人為本,專注於當下的自 我,期許人們有獨立思考的精神,鼓勵對習以為常的事物提出質疑與批判 。</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns">
			<div class="speaker-thumbnail"></div>
			<h4 class="speaker-name">王大牛</h4>
			<p class="speaker-des">這是年會簡介，ri- 重新 –nascere 出生, 有重生的意味,文藝復興最重要的精神便 是人文主義,以人為本,專注於當下的自 我,期許人們有獨立思考的精神,鼓勵對習以為常的事物提出質疑與批判 。</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns">
			<div class="speaker-thumbnail"></div>
			<h4 class="speaker-name">王大牛</h4>
			<p class="speaker-des">這是年會簡介，ri- 重新 –nascere 出生, 有重生的意味,文藝復興最重要的精神便 是人文主義,以人為本,專注於當下的自 我,期許人們有獨立思考的精神,鼓勵對習以為常的事物提出質疑與批判 。</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns">
			<div class="speaker-thumbnail"></div>
			<h4 class="speaker-name">王大牛</h4>
			<p class="speaker-des">這是年會簡介，ri- 重新 –nascere 出生, 有重生的意味,文藝復興最重要的精神便 是人文主義,以人為本,專注於當下的自 我,期許人們有獨立思考的精神,鼓勵對習以為常的事物提出質疑與批判 。</p>
		</div>
	</div>
</section>



<section class="go-now">
	<div class="row">
		<h2>現在就報名2015 TEDxNCHU年會！</h2>
		<a href="" class="small-8 medium-4 large-2 small-centered columns">報名年會</a>
	</div>
</section>

<script>
$(document).ready(function(){
    $('.slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 3000,
    });
});
</script>