.slider
	width: 100%
	background-color: rgba(#8C8C8C, 0.1)
	padding-bottom: 30%
.intro
	text-align: center
	h1
	h2
	p
	a
		display: block
		margin: 40px auto 80px auto
		border: 1px solid $theme
		background-color: #FFF
		line-height: 48px
		+border-radius(5px)
		font-size: 20px
.speakers
	background-color: #fafafa
	.speaker-thumbnail
		height: 220px
		width: 220px
		background-color: $all-background
	.speaker-name
	.speaker-des
.go-now
	background-color: #ededed
	h2, a
		text-align: center
		display: block
	h2
		margin: 80px auto 32px auto
	a
		margin: 0 auto 80px auto
		border: 1px solid $theme
		background-color: #FFF
		line-height: 48px
		+border-radius(5px)
		font-size: 20px
